.topNavigationBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; /* Adjust to your preferred color */
    padding: 8px 16px; /* Further reduced padding for a more compact look */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Lighter shadow for subtlety */
    height: 48px; /* Fixed height for the nav bar */
}

.menu-icon {
    cursor: pointer;
    font-size: 24px; /* Size of the menu icon */
}

.topNavBarLogo {
    font-size: 1rem; /* Small, legible font size */
    font-weight: bold;
}

.topNavBarLogo h1 {
    margin: 0; /* Remove default margins */
    font-size: 1.2rem; /* Adjust logo size to your preference */
    white-space: nowrap; /* Ensure the text stays on one line */
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-image img {
    height: 32px; /* Small, refined image size */
    width: 32px; /* Keep a square aspect ratio */
    border-radius: 50%; /* Circular image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.profile-name h3 {
    font-size: 0.8rem; /* Small, legible font size */
    margin: 0 0 0 8px; /* Add spacing to the left of the profile name */
    white-space: nowrap; /* Ensure the text stays on one line */
}

/* Add responsiveness if necessary */
@media (max-width: 768px) {
    .topNavigationBarContainer {
        padding: 4px 8px; /* Even smaller padding for mobile screens */
    }

    .menu-icon {
        font-size: 20px; /* Smaller icon on mobile */
    }

    .profile-name h3 {
        display: none; /* Hide the logo and profile name */
    }

}
